html{
    --primary-color: #1D1D1D;
    --on-primary-color: #F3F2EE;
    --surface-color: #F3F2EE;
    --on-surface-color: #000000;
    --outline-color:#000000;
    --outline-variant-color:#1e1e1e;
    --accent-color:#E65198;
    --on-accent-color:white;
    --secondary-accent-color:#5E72B9;
    --on-secondary-accent-color: white;
    --additional-color: #ECE6DA;
}