.article-explanation{
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0px;
}
.article-description{
    margin: 0px 10px;
}
#acticle-features{
    text-align: center;
}
.acticle-features-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.article-feature{
    background: var(--additional-color);
    padding: 13px;
    text-align: justify;
    margin: 0px 10px;
}
.top-banner{
    height: 200px;
}
.top-banner>img{
    width: 100%;
    object-fit: cover;
}
@media (max-width:950px) {
    #article-description{
        padding-inline: 10px;
    }
    #article-description>.flex-columns{
        flex-wrap: wrap;
    }
    #article-description>.flex-columns>*{
        width: revert;
    }
    #article-description>.flex-columns>.top-banner{
        width: 100%;
    }
    #article-description>.flex-columns>.top-banner>img{
        object-position: left;
    }
}
@media (min-width:600px) and (max-width:950px) {
    #article-description>.flex-columns>.top-banner{
        /* width: auto;
        align-self: center; */
        height: 300px;

    }
}