dialog.default-modal{
    border: 0px;
    background: var(--primary-color);
    border-radius: 20px;
    padding: 34px;
    color: var(--on-primary-color);
    text-align: center;
    width: 700px;
}
dialog.default-modal .modal-title{
    margin-bottom: 34px;
}
dialog.default-modal input{
    background-color: var(--on-primary-color);
    color: revert;
}
dialog.default-modal button{
    background-color: var(--additional-color);
    color: revert;
}